
/* TODO: добавить всплывающую подсказку, мол,
узел изменён, или узел будет удалён при миграции
к новой версии БД.
 */
 .db-non-changed {
 }
 
.db-added {
	color: green;
}

.db-changed {
	color: blue;
}

.db-deleted {
	color: red;
}

.db-commentary {
	color: gray;
}